.input {
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  padding: 0.25rem 0;
  background: none;
  color: black;
  font-size: 1.4rem;
  display: flex;
}

.input:not(:placeholder-shown) + label {
  transform: scale(0.8) translateX(-2rem) translateY(-5rem);
  color: blueviolet;
}
